
/* Estilo Geral */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: black;
  height: 100vh;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.btn-spotify button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #FF0000;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

h2.titulo{
  color: #FFF;
  font-size: 38px;
  text-align: center;
}

h2.titulo span{
  color: #FF0000;
}

button:hover{
  box-shadow: 0px 0px 30px #600000;
  transform: scale(1.05);
}

/* Estilo do Cabeçalho */
header{
  padding: 40px 4%;
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: #FF0000;
  transform: scale(1.05);
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

/* Estilo do Topo do Site */
section.topo-do-site{
  padding: 40px 4%;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

.topo-do-site h1{
  color: #FFF;
  font-size: 42px;
}

.topo-do-site .txt-topo-site h1 span{
  color: #FF0000;
}

.topo-do-site .txt-topo-site p{
  color: #FFF;
  margin: 40px 0;
}

.topo-do-site .txt-topo-site p span{
  color: #FF0000;
}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

/* Estilo das informações */
section.informações{
  padding: 200px 4%;
}

section.informações .flex{
  gap: 60px;
}

.informações .informações-box{
  color: #FFF;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.informações .informações-box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 30px #600000;
}

.informações .informações-box i{
  font-size: 70px;
  color: #FF0000;
}

.informações .informações-box h3{
  font-size: 28px;
  margin: 15px 0;
}

/* Estilo do Sobre */

section.sobre{
  padding: 40px 4%;
}

section.sobre .flex{
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre{
  color: #FFF;
}

.sobre .img-sobre img{
  border-radius: 20px;
}

.sobre .txt-sobre h2{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
  color: #FF0000;
  display: block;
}

.sobre .txt-sobre p{
  margin: 20px 0;
  text-align: justify;
}

.sobre .txt-sobre .btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #FF0000;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
}

/* Estilo das Imagens */
section.imagens{
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #600000;
  margin: 40px 0;
}

section.imagens .flex{
  justify-content: space-around;
  margin: 60px;
}

.img-img{
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  cursor: pointer;
  border-radius: 40px;
}

.img-img:hover{
  background-position: 100% 100%;
}

/* Estilo das Musicas */
section.musicas{
  padding: 40px 4%;
}

section.musicas .flex{
  margin: 60px;
}

.musicas .img-musicas{
  color: #FFF;
  padding: 30px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.musicas .img-musicas img{
  width: 150px;
  height: 150px;
}

.musicas .img-musicas:hover{
  transform: scale(1.05);
  box-shadow: 0 0 30px #600000;
}

.musicas .img-musicas .txt-musicas{
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}