@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/aullya-gedabrush');

body{
    background-color: #000;
    font-family: "Oxanium", sans-serif;
    overflow: hidden;
}

.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 355px;
    height: 220px;
    padding: 35px;
    background: linear-gradient(90deg, rgba(69,0,0,1) 0%, rgba(69,0,0,1) 50%, rgba(255,0,0,1) 100%);
    box-shadow: 0 0 80px #000;
}

.login:hover{
    box-shadow: 0 0 80px #600000;
}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input{
    margin-top: 10px;
    background-color: #252A34;
    padding-left: 10px;
    color: #CBD0F7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}
.login img{
    width: 65px;
    height: auto;
}

input::placeholder{
    color: #CBD0F7;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: red;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Aullya Gedabrush', sans-serif;
}

form [type="submit"]:hover{
    background-color: #600000;
}